#services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header h1{
    text-decoration-line: underline;
    font-size: 2.8rem;
}
#header p{
    font-size: 1.4rem;
    text-align: center;
}
#service_list {
    padding: 5% 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: #4a4a48;
    align-items: center;
    color: #d6d3cb;
    border-radius: 10px;
    justify-content: space-around;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.card section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card .img {
    width: 150px; /* Fixed width for uniform size */
    height: 150px; /* Fixed height for uniform size */
    background-color: #d6d3cb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensures image stays within circular boundary */
}

.card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Scales the image to cover the div */
    border-radius: 50%; /* Ensures image is circular */
}

